{% extends "base.html" %}

{% block title %}Tailor X{% endblock %}
{% block bodyClass %}page-login{% endblock %}

{% block css %}
<style>

.page-inner {
    padding: 0 0 50px 0;
    /*background: #D0D3D4 !important;*/
    position: relative;
    background-image: url("assets/images/diytailoring.jpg");
    filter: alpha(opacity=50);
}

.card-container.card {
    max-width: 400px;
    padding: 40px 40px;
    overflow-x: hidden;
}

/*
 * Card component
 */
.card {
    background-color: #FFF;
    overflow-x: hidden;
    /* just in case there no content*/
    padding: 10px 15px 20px;
    margin: 0 auto 25px;
    /*margin-top: 0px;*/

    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}
</style>
{% endblock %}

{% block main %}
<main class="page-content" style="min-height: 100%;min-width:100%;position: fixed;">
    <div class="page-inner">
        <div id="main-wrapper">
            <div class="container" style="padding-bottom: 0px;">
                <div class="card card-container">
                    <img id="profile-img" class="profile-img-card" src="assets/images/avatar6.png" />
                    <p id="profile-name" class="profile-name-card"></p>
                    <div class="login-box">
                        <a href="{% url 'index' %}" class="logo-name text-lg text-center">Tailor X</a>
                        <p class="text-center m-t-md">Tailor's Order Management System</p>
                        <form class="m-t-md" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input name="username" type="email" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control" placeholder="Password" required>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                            <!-- <a href="forgot.html" class="display-block text-center m-t-md text-sm">Forgot Password?</a> -->
                        </form>
                        <p class="text-center m-t-xs text-sm" style="font-weight: 900; font-style: italic"> &copy; NIL'S IT</p>
                    </div>
                </div><!-- /card-container -->
        </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
</main><!-- Page Content -->
{% endblock %}
