{% extends "admin.html" %}
{% load static %}

{% block title %}Order Challan List{% endblock %}


{% block css %}
<link href="{% static 'plugins/datatables/css/jquery.datatables.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/datatables/css/jquery.datatables_themeroller.css' %}" rel="stylesheet" type="text/css"/>

<style>
    /* .table td {
        text-align: center;
        border: 1px solid #000;
    }
    th, th *, td, td *{
        vertical-align: middle !important;
    } */
</style>
{% endblock %}


{% block content %}

    <div id="main-wrapper" class="container-fluid p-h-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">
                        <h4 class="panel-title">Order Challan List</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive m-t-sm">
                           <table class="table table-hover" id="wscTable">
                               <thead>
                                   <tr>
                                       <th>Challan No</th>
                                       <th>Order Quantity</th>
                                       <th>Order Amount</th>
                                       <th>Delivery Date</th>
                                       <th>Action</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for c in challans %}
                                   <tr>
                                       <td>{{ c.challan_no }}</td>
                                       <td>{{ c.quantity }}</td>
                                       <td>{{ c.amount }}</td>
                                       <td>{{ c.order.delivery_date }}</td>
                                       <td>
                                            <a type="button" class="btn btn-success btn-xs" href=""><i class="fa fa-eye"></i> view</a>
                                            <a type="button" class="btn btn-primary btn-xs" href=""><i class="fa fa-edit"></i> update</a>
                                       </td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'plugins/datatables/js/jquery.datatables.min.js' %}"></script>
<script>

    $('#wscTable').DataTable({
        "ordering": false,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "order": []
    });

</script>
{% endblock %}