{% extends "admin.html" %}
{% load static %}

{% block title %}Challan Details - Tailor X{{ challan.challan_no }}{% endblock %}


{% block css %}
<style>
    .table th,
    .table td {
        text-align: center;
        border: 1px solid #000 !important;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    th, th *, td, td *{
        vertical-align: middle !important;
    }

    @font-face {
        font-family: 'Code139';
        src: url('{% static "css/barcode.TTF" %}')  format('truetype');
    }

    @media print {

        @page {
            size: A4;
            margin: 10mm;
        }
        body {
            background-color: #fff;
            font-size: 10px;
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
        body * {
            visibility: hidden;
        }
        #section-to-print, #section-to-print * {
            visibility: visible;
        }
        #section-to-print {
            position: fixed;
            margin-top: 0px;
            padding-top: 0px;
            left: 0;
            top: 0;
            width: 100%;
        }

        .page-inner{
            padding: 0px !important;
        }

        .table > tbody > tr > td, 
        .table > tfoot > tr > td, 
        .table > thead > tr > td, 
        .table td {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }

        .table > tbody > tr > th, 
        .table > tfoot > tr > th, 
        .table > thead > tr > th {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }
    }
</style>
{% endblock %}


{% block content %}
    <div id="main-wrapper" class="container-fluid p-h-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Challan Details</h4>
                        <div class="panel-control">
                            
                            <button style="margin-left: 4px" onclick="printFunction()" class="btn btn-default btn-addon m-b-sm btn-xs"><i class="fa fa-print"></i> Print </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="m-t-sm" id="section-to-print">
                            <h3 class="text-center">
                                Order Challan<br>
                                Tailor X
                            </h3>
                            <br><br>
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="text-left">{{ challan.challan_date|date:"jS F, Y" }}</h4>
                                    <h4 class="text-left">Challan No : {{ challan.challan_no }}</h4>
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-xs-6">
                                    <p class="text-left"><b>From:</b></p>
                                    <p class="text-left">Tailor X</p>
                                    <p class="text-left">Address</p>
                                    <p class="text-left">Contact Person : 01709090909</p>
                                </div>
                                <div class="col-xs-6">
                                    <p class="text-right"><b>To:</b></p>
                                    <p class="text-right">{{ challan.order.customer.name }}</p>
                                    <p class="text-right">{{ challan.order.customer.address }}</p>
                                    <p class="text-right">Contact Number : {{ challan.order.customer.contact }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="table-responsive m-t-sm">
                                <table class="table table-hover" id="Table">
                                    <thead>
                                        <tr>
                                            <th>Order Category</th>
                                            <th>Order No</th>
                                            <th>Delivery Date</th>
                                            <th>Order Quantity</th>
                                            <th>Amount</th>
                                            <th>Attached Sample</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                {% for i in challan.order.order_category.all %}
                                                    {{ i.name }}
                                                {% endfor %}
                                            </td>
                                            <td>{{ challan.order.order_no }}</td>
                                            <td>{{ challan.order.delivery_date }}</td>
                                            <td>{{ challan.quantity }}</td>
                                            <td>{{ challan.amount }}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                 </table>
                            </div>

                            <div class="row" style="margin-top: 100px">
                                <div class="col-xs-3" align="text-right">
                                    <h4 class="text-center">Authorised By</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    <script src="{% static 'plugins/jquery/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/JsBarcode.js' %}"></script>
    <script src="{% static 'js/CODE128.js' %}"></script>
    <script type="text/javascript">
        $('.new_barcode').each(function(index){
            var this_barcode = $(this).attr('data-barcode');

            $(this).JsBarcode(this_barcode,{
                width:  1,
                height: 30,
                quite: 1,
                format: "CODE128",
                displayValue: false,
                font:"Monospaced",
                textAlign:"center",
                fontSize: 20,
                fontWeight: "bolder",
                backgroundColor:"",
                lineColor:"#000"
            });

        });
    </script>

    <script>
        $.noConflict();
        function printFunction() {
            window.print();
        };
    </script>
{% endblock %}