{% load static %}
<!-- Styles -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<link href="{% static 'plugins/pace-master/themes/blue/pace-theme-flash.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/uniform/css/uniform.default.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/line-icons/simple-line-icons.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/waves/waves.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/switchery/switchery.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/3d-bold-navigation/css/style.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/slidepushmenus/css/component.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/toastr/toastr.min.css' %}" rel="stylesheet" type="text/css"/>

<!-- Theme Styles -->
<link href="{% static 'css/modern.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css"/>

<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

<script type="text/javascript" src="{% static 'plugins/3d-bold-navigation/js/modernizr.js' %}"></script>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script type="text/javascript" src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script type="text/javascript" src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->