{% load static %}

<div class="navbar">
    <div class="navbar-inner container-fluid p-h-lg">
        <div class="sidebar-pusher">
            <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="logo-box">
            <a href="{% url 'index' %}" class="logo-text">
                <img src="{% static 'images/tailor.png' %}" alt="Icon" height="30">
                <span>Tailor X</span>
            </a>
        </div><!-- Logo Box -->
        <div class="topmenu-outer">
            <div class="top-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-button waves-classic toggle-fullscreen"><i class="fa fa-expand"></i> &nbsp; Full Screen</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#profileModal" class="waves-effect waves-button waves-classic"><i class="fa fa-user-o"></i> &nbsp; {{ request.user.name }}</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" class="waves-effect waves-button waves-classic logout"><i class="fa fa-sign-out"></i> &nbsp; Log Out</a>
                    </li>
                </ul><!-- Nav -->
            </div><!-- Top Menu -->
        </div>
    </div>
</div><!-- Navbar -->


<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">My Profile:</h4>
            </div>
            <div class="modal-body m-t-sm" >
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="user_name"><b>Name:</b> &nbsp; {{ request.user.name }}</label>
                        </div>
                        <div class="form-group">
                            <label for="user_email"><b>Email:</b> &nbsp; {{ request.user.email }} </label>
                        </div>
                        <div class="form-group">
                            <label for="user_company"><b>Company:</b> &nbsp; {{ request.user.company.name }}</label>
                        </div>
                        <div class="form-group">
                            <label for="user_designation"><b>Designation:</b> &nbsp; {{ request.user.designation }} </label>
                        </div>
                        <div class="form-group">
                            <label for="user_department"><b>Department:</b> &nbsp; 
                                {% for process in user.processes.all %}
                                    {% ifchanged %}{{process.name}}, {% endifchanged %}
                                {% endfor %}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form id="changePassForm" action="#" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="new_pass">New Password:</label>
                                <input name="new_pass" type="password" class="form-control" id="new_pass" placeholder="Enter New Password..." required>
                            </div>
                            <div class="form-group">
                                <label for="con_pass">Confirm Password:</label>
                                <input name="con_pass" type="password" class="form-control" id="con_pass" placeholder="Confirm New Password..." required>
                            </div>
                            <button type="submit" class="btn btn-block btn-success">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>