<div class="page-sidebar sidebar horizontal-bar">
    <div class="page-sidebar-inner p-h-xs">
        <ul class="menu text-left accordion-menu text-uppercase">
            <li class="active"><a href="{% url 'index' %}"><span class="menu-icon icon-home"></span><p>Dashboard</p></a></li>
            <li class="droplink">
                <a href="#">
                    <span class="menu-icon icon-grid"></span>
                    <p>General</p>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'category_with_parts' %}">Category & Parts</a></li>
                </ul>
            </li>
            <li class="droplink">
                <a href="#">
                    <span class="menu-icon icon-grid"></span>
                    <p>Order Sheet</p>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{% url 'add_order' %}">Add Order</a></li>
                    <li><a href="{% url 'order_list' %}">Order List</a></li>
                    <li><a href="{% url 'challan_list' %}">Challan List</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- Page Sidebar Inner -->
</div><!-- Page Sidebar -->