{% extends "admin.html" %}
{% load static %}

{% block title %}Categories & Parts{% endblock %}


{% block css %}
<link href="{% static 'plugins/datatables/css/jquery.datatables.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/datatables/css/jquery.datatables_themeroller.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/select2/css/select2.css' %}" rel="stylesheet" type="text/css"/>
<style>
    .select2-container, .selection, .select2-selection{
        z-index:100000;
    }
    .select2-container--open{
        z-index:9999999
    }
    .select2-close-mask{
        z-index: 2099;
    }
    .select2-dropdown{
        z-index: 3051;
    }
</style>
{% endblock %}


{% block content %}
    <div id="main-wrapper" class="container-fluid p-h-lg">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Category List</h4>
                        {% if request.user.is_superuser %}
                        <div class="panel-control">
                            <button type="button" class="btn btn-default btn-addon m-b-sm btn-xs" data-toggle="modal" data-target="#categoryModal"><i class="fa fa-plus"></i> Add</button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive m-t-sm">
                           <table class="table table-hover" id="categoryTable">
                               <thead>
                                   <tr>
                                       <th>#</th>
                                       <th>Name</th>
                                       {% if request.user.is_superuser %}
                                       <th>Action</th>
                                       {% endif %}
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for category in categories %}
                                   <tr id="category-{{ category.id }}">
                                       <td>{{ forloop.counter }}</td>
                                       <th scope="row">{{ category.name }}</td>
                                       {% if request.user.is_superuser %}
                                       <td scope="row" class="m-h-xs">
                                           <button type="button" class="btn btn-success btn-xs" id="editCategory" data-id="{{ category.id }}"><i class="fa fa-edit"></i></button>
                                           <button type="button" class="btn btn-google btn-xs" id="deleteCategory" data-id="{{ category.id }}"><i class="fa fa-close"></i></button>
                                       </td>
                                       {% endif %}
                                   </tr>
                                   {% endfor %}
                               </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Parts List</h4>
                        {% if request.user.is_superuser or 1 in request.user.Processes_List %}
                        <div class="panel-control">
                            <button type="button" class="btn btn-default btn-addon m-b-sm btn-xs" data-toggle="modal" data-target="#refModal"><i class="fa fa-plus"></i> Add</button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive m-t-sm">
                           <table class="table table-hover" id="refTable">
                               <thead>
                                   <tr>
                                       <th>#</th>
                                       <th>Category</th>
                                       <th>Parts</th>
                                       {% if request.user.is_superuser %}
                                       <th>Action</th>
                                       {% endif %}
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for ref in parts %}
                                   <tr id="ref-{{ ref.id }}">
                                       <td>{{ forloop.counter }}</td>
                                       <th scope="row">{{ ref.category.name }}</td>
                                       <th scope="row">{{ ref.name }}</td>
                                        {% if request.user.is_superuser %}
                                       <td scope="row" class="m-h-xs">
                                           <button type="button" class="btn btn-success btn-xs" id="editParts" data-id="{{ ref.id }}"><i class="fa fa-edit"></i></button>
                                           <button type="button" class="btn btn-google btn-xs" id="deleteParts" data-id="{{ ref.id }}"><i class="fa fa-close"></i></button>
                                       </td>
                                       {% endif %}
                                   </tr>
                                   {% endfor %}
                               </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="categoryModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form class="m-t-md" id="categoryForm" action="{% url 'add_category' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="category_id">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Category Form</h4>
                    </div>
                    <div class="modal-body" style="max-height: 800px">
                        <div class="form-group">
                            <label for="category_name">Category Name:</label>
                            <input name="name" type="text" class="form-control" id="category_name" placeholder="Enter Category Name...">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save Information</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="refModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form class="m-t-md" id="refForm" action="{% url 'add_parts' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="ref_id">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="ModalLabel">Parts Form</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="parts_category_name">Category Name:</label>
                            <select class="form-control m-b-sm" id="parts_category_name" name="category">
                                <option value=""></option>
                                {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="parts_name">Parts Name:</label>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Enter Parts Name...">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save Information</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
<script src="{% static 'plugins/datatables/js/jquery.datatables.min.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.js' %}"></script>
<script>

    $('#buyer_country').select2({placeholder: "Select Country..", width: "100%"});
    $('#parts_category_name').select2({placeholder: "Select Category..", width: "100%"});

    $('#categoryTable').DataTable({
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "columnDefs": [{
            "targets": 1,
            "orderable": false
        }]
    });

    $("#categoryTable").on('click', '#editCategory', function(){
        var id = $(this).data('id');
        $.ajax({
            url : "{% url "get_category" %}",
            type : "POST",
            data : { id : id },
            success : function(data) {
                $('#category_id').val(id);
                $('#category_name').val(data['name']);
                $("#categoryForm").attr('action', '{% url "update_category" %}');
                $("#categoryModal").modal();
            },

            error : function(xhr,errmsg,err) {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'fadeIn',
                    hideMethod: 'fadeOut',
                    timeOut: 3500
                };
                toastr.error('Oops! We have encountered an error.');
            }
        });
    });

    $("#categoryTable").on('click', '#deleteCategory', function(){
        var id = $(this).data('id');
        if (confirm('are you sure you want to remove this Category?')==true){
            $.ajax({
                url : "{% url "delete_category" %}",
                type : "POST",
                data : { id : id },
                success : function(data) {
                    console.log(data);
                    $('#category-'+id).hide();
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'fadeIn',
                        hideMethod: 'fadeOut',
                        timeOut: 3500
                    };
                    toastr.success('Category Deleted Successfully');
                },

                error : function(xhr,errmsg,err) {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'fadeIn',
                        hideMethod: 'fadeOut',
                        timeOut: 3500
                    };
                    toastr.error('Oops! We have encountered an error.');
                }
            });
        } else {
            return false;
        }
    });

    $('#categoryModal').on("hidden.bs.modal", function() {
        $('#buyer_id').val('');
        $('#buyer_name').val('');
        $("#buyerForm").attr('action', '{% url "add_category" %}');
    });

    $('#refTable').DataTable({
        "ordering": false,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "columnDefs": [{
            "targets": 1,
            "orderable": false
        }]
    });

    $("#refTable").on('click', '#editParts', function(){
        var id = $(this).data('id');
        $.ajax({
            url : "{% url "get_parts" %}",
            type : "POST",
            data : { id : id },
            success : function(data) {
                $('#ref_id').val(id);
                $('#parts_category_name').val(data['category']);
                $('#parts_category_name').select2({placeholder: "Select Category..", width: "100%"});
                $('#parts_name').val(data['name']);
                $("#refForm").attr('action', '{% url "update_parts" %}');
                $("#refModal").modal();
            },

            error : function(xhr,errmsg,err) {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'fadeIn',
                    hideMethod: 'fadeOut',
                    timeOut: 3500
                };
                toastr.error('Oops! We have encountered an error.');
            }
        });
    });

    $("#refTable").on('click', '#deleteParts', function(){
        var id = $(this).data('id');
        if (confirm('are you sure you want to remove this Reference?')==true){
            $.ajax({
                url : "{% url 'delete_parts' %}",
                type : "POST",
                data : { id : id },
                success : function(data) {
                    console.log(data);
                    $('#ref-'+id).hide();
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'fadeIn',
                        hideMethod: 'fadeOut',
                        timeOut: 3500
                    };
                    toastr.success('Reference Deleted Successfully');
                },

                error : function(xhr,errmsg,err) {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'fadeIn',
                        hideMethod: 'fadeOut',
                        timeOut: 3500
                    };
                    toastr.error('Oops! We have encountered an error.');
                }
            });
        } else {
            return false;
        }
    });

    $('#refModal').on("hidden.bs.modal", function() {
        $('#ref_id').val('');
        $('#parts_category_name').prop("selectedIndex", 0);
        $('#parts_category_name').select2({placeholder: "Select Category..", width: "100%"});
        $('#name').val('');
        $("#refForm").attr('action', '{% url "add_parts" %}');
    });

</script>
{% endblock %}