{% extends "admin.html" %}
{% load static %}


{% block title %}Order Form{% endblock %}


{% block css %}
<link href="{% static 'plugins/select2/css/select2.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
    <div id="main-wrapper" class="container-fluid p-h-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Add Order</h4>
                        <div class="panel-control">
                            <a href="#"><button class="btn btn-default btn-addon m-b-sm btn-xs"><i class="fa fa-list"></i> list</button></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="m-t-sm">
                            <form class="m-t-md" id="orderForm" action="{% url 'save_order' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-white">
                                            <div class="panel-heading clearfix">
                                                <h4 class="panel-title">Order Information</h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="order_no">Order No:</label>
                                                        <input type="text" class="form-control" id="order_no" name="order_no" readonly value="{{ order_no }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="order_qty">Order Quantity:</label>
                                                        <input type="number" class="form-control" id="order_qty" name="order_qty">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="order_date">Order Date:</label>
                                                        <input type="text" class="form-control date-picker" id="order_date" name="order_date" placeholder="Enter Order Date..">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="delivery_date">Delivery Date:</label>
                                                        <input type="text" class="form-control date-picker" id="delivery_date" name="delivery_date" placeholder="Enter Delivery Date..">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="delivery_date">Total Amount:</label>
                                                        <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter Total Amount..">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="curtomer">Customer Name:</label>
                                                        <input type="text" class="form-control" id="customer" name="name" placeholder="Enter Customer Full Name..">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="curtomer_email">Customer Email:</label>
                                                        <input type="email" class="form-control" id="customer_email" name="email" placeholder="something@example.com">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="curtomer_phone">Customer Phone:</label>
                                                        <input type="text" class="form-control" id="customer_phone" name="contact" placeholder="Enter Customer Phone Number..">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel panel-white">
                                            <div class="panel-heading clearfix">
                                                <h4 class="panel-title">Order Details</h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-md-4" style="width: 100%">
                                                    <div class="form-group">
                                                        <label for="category">Category:</label>
                                                        <select class="form-control m-b-sm" id="category" name="category">
                                                            <option value="">Select Category</option>
                                                            {% for category in categories %}
                                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" style="width: 100%">
                                                	<div class="table-responsive m-t-sm">
                                                		<table class="table table-hover table-bordered" id="partsTable">
                                                			<thead>
                                                				<tr>
	                                                				<th>Parts</th>
	                                                				<th>Measurement</th>
                                                				</tr>
                                                			</thead>
                                                			<tbody id="dataTable">
                                                				
                                                			</tbody>
                                                		</table>
                                                	</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success btn-block"><h4>Save Information</h4></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
<script src="{% static 'plugins/datatables/js/jquery.datatables.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.js' %}"></script>
<script>
    $('#category').select2({placeholder: "Select Category .."});
    // DatePicker
    $('.date-picker').datepicker({
        orientation: "top auto",
        autoclose: true,
        todayBtn: 'linked',
        format: 'yyyy-mm-dd',
        startDate: new Date()
    });


    $('#category').on('change',function(){
        var category = jQuery(this).children(":selected").attr("value");
        $("#dataTable ").html("");

        $.ajax({
          url : "{% url "ajax_get_category_wise_parts" %}",
          type : "POST",
          data : { category : category},
          success: function(data){
            console.log(data.length);
            if(data){
              for (var i = 0; i < data.length; i++) {
                  $("#dataTable").append("<tr><td class='text-center'><input type='text' class='form-control' name='parts' readonly value='"+data[i]['name']+"'></td><td class='text-center'><input type='number' class='form-control' name='measurement_number'></td></tr>");
                }
            }else{
              alert('Cannot find any data');
            }
          },

        });
    });
</script>
{% endblock %}