{% extends "admin.html" %}
{% load static %}

{% block title %}Order list{% endblock %}


{% block css %}
<link href="{% static 'plugins/datatables/css/jquery.datatables.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/datatables/css/jquery.datatables_themeroller.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block content %}
    <div id="main-wrapper" class="container-fluid p-h-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Order List</h4>
                        <div class="panel-control">
                            <a href="{% url 'add_order' %}"><button class="btn btn-default btn-addon m-b-sm btn-xs"><i class="fa fa-plus"></i> Add</button></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive m-t-sm">
                           <table class="table table-hover" id="orderTable">
                               <thead>
                                   <tr>
                                       <th>Order No</th>
                                       <th>Order Qty</th>
                                       <th>Customer Name</th>
                                       <th>Customer Contact</th>
                                       <th>Delivery Date</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for p in orders %}
                                   <tr id="po-{{ p.id }}">
                                       <th scope="row">{{ p.order_no }}</td>
                                       <th scope="row">{{ p.order_qty }}</td>
                                       <th scope="row">{{ p.customer.name }}</td>
                                       <th scope="row">{{ p.customer.contact }}</td>
                                       <th scope="row">{{ p.delivery_date|date:'j F, Y' }}</td>
                                       <td scope="row" class="m-h-xs">
                                           <a href="#"><button class="btn btn-success btn-xs"><i class="fa fa-edit"></i></button></a>
                                           <button type="button" class="btn btn-google btn-xs" id="deleteOrder" data-id="{{ p.id }}"><i class="fa fa-close"></i></button>
                                       </td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
<script src="{% static 'plugins/datatables/js/jquery.datatables.min.js' %}"></script>

<script>

    // $('#orderTable').DataTable({
    //     "ordering": false,
    //     "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    //     "columnDefs": [{
    //         "targets": 1,
    //         "orderable": false
    //     }]
    // });


    $("#orderTable").on('click', '#deleteOrder', function(){
        var id = $(this).data('id');
        console.log('order id',id);
        if (confirm('are you sure you want to remove this Order?')==true){
            $.ajax({
                url : "{% url "delete_order" %}",
                type : "POST",
                data : { id : id },
                success : function(data) {
                    console.log('status: ',data);
                    $('#po-'+id).hide();
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'fadeIn',
                        hideMethod: 'fadeOut',
                        timeOut: 3500
                    };
                    toastr.success('PO Deleted Successfully');
                },

                error : function(xhr,errmsg,err) {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'fadeIn',
                        hideMethod: 'fadeOut',
                        timeOut: 3500
                    };
                    toastr.error('Oops! We have encountered an error.');
                }
            });
        } else {
            return false;
        }
    });

</script>
{% endblock %}